<a href="https://colab.research.google.com/github/V-Vibee/Assignments/blob/main/Credit_Card_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the Dependencies

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the Data

credit_card_data= pd.read_csv('/creditcard.csv')

In [4]:
# First 5 rows in dataset

credit_card_data.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
# Last 5  rows

credit_card_data.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
# Getting Dataset Informations

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Data Distribution

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [14]:
# 1-----> Fraud Transaction & 0------> Normal transaction, implies imbalanced Dataset

In [19]:
# Saving Legit trans separately

legit= credit_card_data[credit_card_data.Class== 0]
fraud= credit_card_data[credit_card_data.Class== 1]

In [21]:
legit.shape

(284315, 31)

In [22]:
fraud.shape

(492, 31)

In [26]:
# Statistical Measures

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [27]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [28]:
# Compare the values for both Transaction

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
# Dealing with imbalanced data, using Undersampling

# Build a sample dataset containing similar distribtion of normal transactions and the fraudulent transaction

# Fraud Transaction---> 492

In [31]:
legit_sample= legit.sample(n=492)

Concatinating two dataframes
axis 0= Rows
axis 1= Columns

In [33]:
new_dataset= pd.concat([legit_sample, fraud], axis=0)

In [34]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
235722,148514.0,-0.178976,-0.067681,-1.030181,-0.168523,-0.369694,-0.028404,0.660017,0.495280,0.321172,...,0.279771,0.455447,0.876479,0.648972,-2.083326,-0.361770,0.179228,0.290019,192.43,0
145710,87147.0,-1.316784,1.004233,-1.337957,-2.649033,1.353024,-1.476489,1.361034,-1.170352,0.827085,...,0.750166,0.551511,0.169830,0.741903,-0.138502,0.487574,0.245109,-0.190020,1.00,0
106554,70008.0,1.228003,1.215719,-1.712455,1.456838,1.024064,-1.324884,0.641686,-0.197713,-0.628588,...,-0.184821,-0.483890,-0.257673,-0.337209,0.859593,-0.289799,0.033331,0.082627,1.00,0
5077,4723.0,-0.321332,1.271345,2.151355,3.071228,0.340344,0.810747,0.230271,0.111652,-0.121236,...,-0.086994,0.231915,-0.280708,0.005882,-0.056867,0.250197,0.123876,0.113254,3.04,0
125002,77503.0,1.196006,0.067499,0.656487,1.858468,-0.520466,-0.261882,-0.164520,-0.111612,-1.997457,...,-0.279677,-0.347732,0.062862,0.370348,0.356588,0.042669,0.025691,0.029992,29.95,0

In [35]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [36]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [37]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97296.331301,0.019118,0.035486,0.091856,-0.029810,0.039842,-0.019153,0.153421,0.025216,-0.060795,...,-0.012302,0.018420,0.013719,0.022538,0.00088,0.013908,-0.008302,0.002773,0.003288,89.476321
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting Dataset into features nd targets


```

In [38]:
X= new_dataset.drop(columns='Class', axis=1)
Y=new_dataset['Class']

In [39]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
235722  148514.0 -0.178976 -0.067681 -1.030181 -0.168523 -0.369694 -0.028404
145710   87147.0 -1.316784  1.004233 -1.337957 -2.649033  1.353024 -1.476489
106554   70008.0  1.228003  1.215719 -1.712455  1.456838  1.024064 -1.324884
5077      4723.0 -0.321332  1.271345  2.151355  3.071228  0.340344  0.810747
125002   77503.0  1.196006  0.067499  0.656487  1.858468 -0.520466 -0.261882
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
235722  0.660017  0.495280  0.321172  ...  0.063039  0.279771  0.455447
145710  1.361034 -1.170352  0.827085  ... -0.278706  0.750166  0.551511
106554  0.641686 -0.197713 -0.628588  ... -0.038015 -0.184821 -0.483890
5077    0.230271  0.111652 -0.121236  ...  0.149986 -0.086994  0.231915
125002 -0.164520 -0.111612 -1.997457  ... -0.502741 -0.279677 -0.347732
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
235722  0.876479  0.648972 -2.083326 -0.361770  0.179228  0.290019  192.43
145710  0.169830  0.741903 -0.138502  0.487574  0.245109 -0.190020    1.00
106554 -0.257673 -0.337209  0.859593 -0.289799  0.033331  0.082627    1.00
5077   -0.280708  0.005882 -0.056867  0.250197  0.123876  0.113254    3.04
125002  0.062862  0.370348  0.356588  0.042669  0.025691  0.029992   29.95
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [40]:
print(Y)

235722    0
145710    0
106554    0
5077      0
125002    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [42]:
# Splitting data into Train/Test data


X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size= 0.2, stratify=Y, random_state=2)

In [44]:
print(X.shape, X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

In [45]:
# Logistic Regression

model= LogisticRegression()

In [46]:
# Training the Logistic Regression model with Training Data


model.fit(X_train, Y_train)

LogisticRegression()

In [47]:
# Evaluation of model/Performance

In [48]:
#Accuracy Score on Training Data


X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [49]:
print('Accuracy on Training data :', training_data_accuracy)

Accuracy on Training data : 0.9390088945362135

In [50]:
# Accuracy on Test Data


X_test_prediction = model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [51]:
print('Accuracy score on Test Data :', test_data_accuracy)

Accuracy score on Test Data : 0.9238578680203046